<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DatabaseServer" value="localhost" />
		<add key="DatabaseName" value="fitness_tracker" />
		<add key="Username" value="root" />
		<add key="Password" value="" />
		<add key="ProjectName" value="FitnessTracker" />
	</appSettings>
</configuration>
